{% extends 'base.html' %}
{% load static %}



{% block title %} Home {% endblock %}




{% block content %}


    <header>
        <div class="Site_description">
            <p class="S_title">به دنیای زیبایی و هنر بافت مو خوش آمدید</p>
            <p class="S_text">در اینجا، ما به شما کمک می‌کنیم تا بافت‌های زیبا و منحصر به فردی را تجربه کنید که نه تنها
                ظاهر شما را زیباتر می‌کند، بلکه اعتماد به نفس شما را نیز افزایش می‌دهد. هنر بافت مو، از قدیمی‌ترین و
                زیباترین هنرهای آرایشگری است که با استفاده از تکنیک‌های مختلف، می‌تواند جلوه‌ای خاص و متفاوت به موهای
                شما ببخشد.

                ما در این سایت، با ارائه آموزش‌های تصویری و نکات حرفه‌ای، شما را در مسیر یادگیری و اجرای انواع بافت‌های
                مو همراهی می‌کنیم. از بافت‌های ساده و روزمره تا بافت‌های پیچیده و مجلسی، همه و همه در اینجا برای شما
                فراهم شده است.

                با ما همراه شوید و زیبایی و هنر را به موهای خود هدیه دهید</p>
        </div>
        <div class="work_texture">
            <li class="title">انواع مختلفی از بافت مو وجود دارد که هر کدام زیبایی و جذابیت خاص خود را دارند</li>
            <li><a href="">بافت فرانسوی</a>: بافتی که از بالای سر شروع می‌شود و به تدریج به سمت پایین می‌آید</li>
            <li><a href="">بافت هلندی</a>: مشابه بافت فرانسوی است، اما بافت‌ها به جای اینکه به داخل بروند، به بیرون
                می‌آیند
            </li>
            <li><a href="">بافت ماهی</a>: بافتی که شبیه به دم ماهی است و با استفاده از دو بخش مو انجام می‌شود</li>
            <li><a href="">بافت تاج</a>: بافتی که دور سر به شکل تاج انجام می‌شود</li>
            <li><a href="">بافت جعبه ای</a>: بافت‌های کوچک و مربعی که به طور معمول در سراسر سر انجام می‌شوند</li>
            <li><a href="">بافت طنابی</a>: بافتی که شبیه به طناب پیچیده شده است</li>
            <li><a href="">بافت آفریقایی</a>: بافت‌های کوچک و محکم که به طور معمول در موهای طبیعی آفریقایی انجام می‌شود
            </li>
            <li><a href="">بافت آبشاری</a>: بافتی که شبیه به آبشار است و موها به صورت آزادانه از بافت خارج می‌شوند</li>
        </div>
    </header>


    <section>
        <p class="Box_title"><a href="">مدل تیغ ماهی</a></p>
        <div class="Box_Scroll">
            <div class="Item_image">
                <img class="image_model" src="images/New folder/4i.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/aa.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/11111.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/Fish_blade_model_4.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/Fish_blade_model_5.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/Fish_blade_model_6.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/Fish_blade_model_7.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/Fish_blade_model_8.jpg" alt="">
                <p><a href="">تیغ ماهی</a></p>
            </div>
        </div>
        </div>
    </section>

    <section>
        <p class="Box_title"><a href="">مدل هلندی</a></p>
        <div class="Box_Scroll">
            <div class="Item_image">
                <img class="image_model" src="images/New folder/4.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/8.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/1.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/2.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/3.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/5.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/6.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/7.jpg" alt="">
                <p><a href="">هلندی</a></p>
            </div>

        </div>
    </section>

    <section>
        <p class="Box_title"><a href="">مدل حنا هوش مصنوعی</a></p>
        <div class="Box_Scroll">
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/1.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/2.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/3.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/4.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/5.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/6.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/7.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/8.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/9.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/10.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/11.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/12.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/13.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/New folder/hand/ai/14.jfif" alt="">
            </div>
        </div>
    </section>

    <section>
        <p class="Box_title"><a href="">مدل بافت هوش مصنوعی</a></p>
        <div class="Box_Scroll">
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_1.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_2.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_3.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_4.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_5.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_6.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_7.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_8.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_9.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_10.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_11.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_12.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_13.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_14.jfif" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/baft/ai/baft_ai_15.jfif" alt="">
            </div>
        </div>
    </section>

    <section>
        <p class="Box_title"><a href="">مدل های مختلف</a></p>
        <div class="Box_Scroll">
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_1.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_2.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_3.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_4.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_5.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_6.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_7.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_8.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_9.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_10.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_11.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_12.jpg" alt="">
            </div>
            <div class="Item_image">
                <img class="image_model" src="images/Multiple_Models/Different_13.jpg" alt="">
            </div>
        </div>
    </section>




{% endblock %}





