{% extends 'base.html' %}
{% load static %}

{% block title %} New Password | Page | View {% endblock %}

{% block content %}
    <div class="Div_Login">
        <form class="form_login" method="post">
            {% csrf_token %}

            <div class="flex-column">
                <label>Password </label>
            </div>
            <div class="inputForm">
                <i class="bi bi-lock"></i>
                {{ form.password }}
            </div>

            <div class="flex-column">
                <label>Repeat Password</label>
            </div>
            <div class="inputForm">
                <i class="bi bi-lock"></i>
                {{ form.repeat_password }}
            </div>

            <input class="button-submit" type="submit" value="Save"/>
            <div class="LOD_DIV">
                <div class="LOD_qp_db00 loaderOOOO"></div>
            </div>
        </form>
    </div>

{% endblock %}
